/* Globals */
.success {
  padding: 1re 2rem;
  background-color: rgb(22, 156, 22);
  color: white;
}

.warning {
  padding: 1re 2rem;
  background-color: rgb(145, 17, 17);
  color: white;
}

.hidden {
  opacity: 0;
}

.price-holder {
  font-weight: 300;
}

.button {
  padding: 1rem 2rem;
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: none;
}

.w-full {
  width: 100%;
  height: auto;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--forth-clr);

  margin-bottom: 1rem;
}

.header-p {
  padding: 1rem 2rem;
  color: white;
  /* Text display */
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

/* Navbar */

.navbar-container-mobile {
  margin: 0 auto;
  padding: 1rem;

  /* Display */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  place-items: center;

  position: relative;
  /* background-color: var(--primary-clr); */
}

.navbar-container-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;

  /* Display */
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  grid-template-rows: 100%;
  place-items: center;

  position: relative;
}

.navmenu-list {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.navmenu-list-item {
  width: 100%;
  height: auto;
}

.navmenu-list-link {
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 7px;
  color: black;
  background-color: transparent;
}

.navmenu-list-link:hover {
  width: 100%;
  height: 100%;
  color: white;
  background-color: var(--secundary-clr);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


.searchbox-container {
  width: 100%;
  height: auto;
}

.searchbox-container .search-box {
  width: 70%;
  height: auto;
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
  border-radius: 7px;
}


.searchbox-container .search-box--active {
  width: 80%;
  height: auto;
  margin: 0 auto;

  border: 2px solid var(--third-clr);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
  border-radius: 7px;
}

.searchbox-container .searchbox-icon {
  width: 20px;
  height: auto;
}

.nav-search {
  width: 80%;
  height: auto;
  border: none;
  outline: none;
  padding: 1rem 0.5rem;
  font-size: 1.3em;
}

/* Widget container */
.widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container-desktop .widget-container {
  width: 100%;
  place-items: start;
  justify-content: start;
}

/* Cart widget */

.cart-widget {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.cart-widget .cart-icon {
  width: 30px;
  height: auto;
  opacity: 0.8;
  stroke: black;

  z-index: 2;
}

.cart-widget .cart-icon:hover {
  stroke: var(--forth-clr);
  opacity: 1;
  cursor: pointer;
}

.cart-list-container,
.cart-list-container--active {
  /* Size */
  width: 55vw;
  height: 0vh;
  overflow: hidden;
  /* Syles */
  background-color: var(--secundary-clr);
  color: white;
  border-radius: 10px;
  padding: 0 1rem;

  /* Position */
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 3;

  transition: height cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.4s;
}

.cart-list-container--active {
  height: 70vh;
  overflow: scroll;
}

.cart-list-container--active::-webkit-scrollbar {
  display: none;
}

.cart-title {
  font-size: 1.2em;
  text-align: center;
  margin: 2rem auto;
  color: white;
}

.cart-close-icon {
  width: 30px;
  position: absolute;
  top: 1.5rem;
  right: 2.3rem;
  color: white;
  transition: color 0.2s ease-in-out;
}

.cart-close-icon:hover {
  color: rgb(175, 24, 24);
  transition: color 0.2s ease-in-out;
}

.cart-list {
  width: 100%;
  height: auto;
  border-spacing: 10px 0;
}

.cart-list-item {
  width: 100%;
  height: auto;
  text-align: center;
}

.cart-list-delete .button {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0.8rem;

  background-color: rgb(175, 24, 24);
  color: white;
  font-size: 1em;
  text-align: center;
}

.cart-list-delete .button:hover {
  background-color: red;
}

.cart-list-delete .button svg {
  width: 1.2em;
}


/* Menu widget */
.menu-widget {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-widget .menu-icon {
  width: 30px;
  height: auto;
  stroke: black;
  opacity: 0.8;
}

.menu-widget .menu-icon:hover {
  stroke: var(--forth-clr);
  opacity: 1;
  cursor: pointer;
}

/* Banner container */
.banner-container {
  margin-top: 1rem;
}

/* Greeting */
.greeting-title {
  background-color: var(--secundary-clr);
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5em;
}


/* mq */
@media (min-width: 992px) {
  .navbar-container {
    max-width: 1440px;
    height: auto;
    position: static;
  }

  .search-box {
    max-width: 350px;
  }

  .searchbox-container .searchbox-icon {
    width: 25px;
    height: auto;
  }

  .search-box--active {
    max-width: 450px;
  }

  .cart-widget {
    position: relative;
  }

  .cart-list-container,
  .cart-list-container--active {
    /* Size */
    width: 45rem;
    height: 0px;
    overflow: hidden;

    /* Syles */
    background-color: var(--secundary-clr);
    color: white;
    border-radius: 10px;
    padding: 0 1rem;

    /* Position */
    position: absolute;
    top: 5.3rem;
    right: 0;
    z-index: 3;

    transition: height cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.4s;
  }

  .cart-list-container--active {
    height: 40rem;
  }

  .cart-list-delete .button {
    padding: 1rem;
  }
}